<div class="container my-3">
  <div class="jumbotron">
    <h3 class="display-4">About this Angular App!!</h3>
    <p class="lead">
        An Angular To-Do app is a task management application built with the Angular framework.
        It enables users to add, edit, and delete tasks, organize them into categories, and mark them as complete.
    </p>
    <hr class="my-4" />
    <p>
        The app showcases Angular's capabilities in creating dynamic and interactive web applications.
    </p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>

